*{
  background-color: rgb(44, 40, 40);
}
body{
  animation: fadein 6s ease-in;
}
.question{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;  
  margin-top: 150px;
  margin-bottom: 50px;
}
#question{
  font-size: 40px;
}
.answer{
  display: flex;
  justify-content: center;
  gap: 60px;
}
#yes{
  border: none;
  background-color: purple;
  font-size: 16px;
  width: 54px;
  padding: 7px;
  border-radius: 7px;
  font-weight: 700;
}
#yes:hover{
  opacity: 0.7;
}
#no{
  border: none;
  background-color: rgb(236, 154, 2);
  width: 50px;
  font-size: 16px;
  padding: 7px;
  border-radius: 7px;
  font-weight: 700;
}
#trippings{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  text-transform:uppercase;
  font-size: 20px;
  animation: fadein 3s ease-in;
}
.heart{
  color: #e00;
  font-size: 8rem;
  animation: beat .3s infinite alternate;
}

@keyframes beat{
  to { transform: scale(1.2);}
}
@keyframes fadein{
  from { 
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#gif{
  position: fixed;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
#bear1{
  position: fixed;
  height: 300px;
  display: flex;
  top: 60px;
  right: 0px;
  opacity: 0;
}
#bear2{
  display: flex;
  position: fixed;
  height: 300px;
  top: 60px;
  opacity: 0;
}
#tulip{
  display: flex;
  justify-content: center;
  opacity: 0;
}